@import '../../../assets/scss/helpers/_variables.scss';

$btnBlueBgColor: $blue !default;
$btnBlueBorderColor: $blue !default;
$btnBlueTextColor: $white !default;
$btnTransparentHoverColor: $blue !default;
$btnGreyBorderColor: $grey !default;
$btnGreyTextColor: $blueDark !default;

.button {
	background: none;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	text-transform: uppercase;
	width: 100%;
	flex-basis: 100%;
	height: 3.2rem;

	&__blue {
		border: 1px solid $btnBlueBorderColor;
		background-color: $btnBlueBgColor;
		color: $btnBlueTextColor;
		border-radius: 0;
	}

	&__transparent {
		border: none;
		background: none;
		font-size: 1.2rem;
		text-transform: inherit;
		margin: auto;
		width: auto;

		&:hover { color: $btnTransparentHoverColor; }
	}

	&__grey {
		font-size: 1.4rem;
		font-weight: 700;
		border: 1px solid $btnGreyBorderColor;
		color: $btnGreyTextColor;

		&:hover { 
			color: $white;
			background-color: $btnGreyTextColor; 
		}

		&.is__selected {
			color: $white;
			background-color: $btnGreyTextColor; 
		}
	}

	&--td {
		border: none;
		background: none;
		font-size: 1.2rem;
		text-transform: initial;

		&:hover { color: $btnTransparentHoverColor; }
	}
}