.Header {
	padding: 0.625rem 1rem;
	display: flex;
	align-items: center;
	background-color: white;
	grid-column-start: 1;
	grid-row-start: 1;
	grid-column-end: 2;
	box-shadow: 0 2px 12px -1px hsl(240°, 13%, 94%); 

	&__list {
		display: flex;
		align-items: center;
		justify-content: flex-start;
		margin-right: auto;
		flex-grow: 1;
		max-width: 30%;
		list-style: none;
	}

	&__item {
		color: hsl(217°, 17%, 36%);
		margin-right: 3rem;
		position: relative;
	} 
}