@import '../helpers/variables';


main { position: relative; }

.content {
	grid-column-start: 2; 
	grid-row-start: 2; 
	grid-row-end: 3;
	padding: 1rem;
	min-height: 92vh; 

	&__title {
		font-size: 2.4rem;
		font-weight: 700;
	}
}