@import '../../assets/scss/helpers/_variables.scss';

.addExpense {
	display: flex;
	flex-flow: row nowrap;
	align-items: flex-start;
	justify-content: center;
	margin: 0 1rem 1rem auto;
	background-color: $white;
	border: 1px solid $grey;
	border-radius: 4px;
	padding: 1rem;
	width: 100%;

	button[type="submit"] { margin-top: 3.5rem; }
	input, select { 
		border-right: 0; 
		font-size: 1.4rem;
	}
}

.title {
	&Enter, 
	&Appear {
		opacity: 0;
		transform: translateY(10%);
	}
	&EnterActive,
	&AppearActive {
		opacity: 1;
		transition: all 0.25s linear;
	}
	&Leave {
		opacity: 1;
	}
	&LeaveActive {
		opacity: 0;
		transition: all 0.25s linear;
	}
}

.card {
	&Enter, 
	&Appear {
		opacity: 0;
		transform: translateY(10%);
	}
	&EnterActive,
	&AppearActive {
		opacity: 1;
		transform: translateY(0);
		transition: all 0.45s ease-in-out;
	}
	&Leave {
		opacity: 1;
		transform: translateY(0);
	}
	&LeaveActive {
		opacity: 0;
		transform: translateY(10%);
		transition: all 0.45s ease-in-out;
	}
}