@import '../../../assets/scss/helpers/_variables.scss';

.table {
	width: 100%;
	table-layout: fixed;
	border-collapse: collapse;
	border-spacing: 0;
	color: $sLightGrey;

	&__sort {
		display: flex;
		flex-direction: column;
		margin-left: 0.8rem;
	}
}

.loading__span__shimmer {
	width: 90%;
	height: 10px;
	margin: 0 5%;
	background-color: $grey;
	border-radius: 2px;
	display: block;
}
.loading__span__empty {
	width: 100%;
	height: 52px;
	display: block;
}

table {
	width: 100%;
	table-layout: fixed;
}
