@import '../../assets/scss/helpers/_variables.scss';

table {
	td {
		span {
			display: flex;
			justify-content: center;
			align-items: center;
		}
	}
}

h1 { 
	color: $blueDark;
	text-align: center;
}

svg {
	margin: auto;
	width: 45%;
	height: auto;
}