@import '../../assets/scss/helpers/_variables.scss';

table {
	td {
		span {
			display: flex;
			justify-content: center;
			align-items: center;
		}
	}
}

h1 { 
	color: $blueDark;
	text-align: center;
}

svg {
	margin: auto;
	width: 45%;
	height: auto;
}

.img {
	&Enter,
	&Appear { opacity: 0; }

	&EnterActive,
	&AppearActive {
	  opacity: 1;
	  transition: all 0.25s ease-in;
	}

	&Exit { opacity: 1; }

	&ExitActive {
	  opacity: 0;
	  transition: all 0.25s ease-in-out;
	}
}