@import '../../assets/scss/helpers/_variables.scss';
@import '../../assets/scss/helpers/_mixins.scss';
@import '../../assets/scss/helpers/_placeholder.scss';

.profil {
	&__form {
		flex-direction: column;

		form { width: 100%; }
		button { margin-top: 3rem; }
	}

	&__row {
		@extend %row;
		justify-content: space-evenly !important;

		svg { 
			margin: 0;
		}
	}
}

.form {
	&Enter,
	&Appear {
	  opacity: 0;
	  transform: translateY(10%);
	}
	&EnterActive,
	&AppearActive {
	  opacity: 1;
	  transform: translateY(0);
	  transition: all 0.35s ease-in-out;
	}
	&Exit {
	  opacity: 1;
	  transform: translateY(0);
	}
	&ExitActive {
	  opacity: 0;
	  transform: translateY(10%);
	  transition: all 0.35s ease-in-out;
	}
}

.img {
	&Enter,
	&Appear { opacity: 0; }

	&EnterActive,
	&AppearActive {
	  opacity: 1;
	  transition: all 0.25s ease-in;
	}

	&Exit { opacity: 1; }

	&ExitActive {
	  opacity: 0;
	  transition: all 0.25s ease-in-out;
	}
}
