@import '../../assets/scss/helpers/_variables.scss';

.Login {
	width: 320px;
	height: 400px;
	margin-right: 10rem;
	background-color: $white;
	border: 1px solid $grey;
	box-shadow: 0 0 1.6rem 4px $grey;

	form { 
		width: 100%; 
		max-width: 320px;

		> div:first-of-type {
			width: 100%;
			display: flex;
			align-items: center;
			justify-content: space-between;
		}
	}

	button{
		&[type="submit"] { margin-top: 5.5rem; }
		&[type="button"] { 
			margin: 0; 
			width: auto;
			flex-basis: 40%;
			justify-content: flex-end;
		}
	}

	h1 { 
		color: $blueDark; 
		margin: 0;
	}
}

.Authenticate {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	max-height: calc(100% - 14rem);

	svg { 
		margin: 0;
		width: 50%;
		height: auto;
	}
}

.onShowCard { animation: showCard 0.4s ease-out forwards; }
.onHideCard { animation: hideCard 0.4s ease-out forwards; }

.card-enter {}
.card-enter-active {
   animation: showCard 0.4s ease-out forwards;
}

.card-leave {}
.card-leave-active {
   animation: hideCard 0.4s ease-out forwards;
}

@keyframes showCard {
    0% {
        opacity: 0;
        transform: translateY(-100%);
    }
    50% {
        opacity: 1;
        transform: translateY(90%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes hideCard {
    0% {
        opacity: 1;
        transform: translateY(0);
    }
    50% {
        opacity: 0.8;
        transform: translateY(60%);
    }
    100% {
        opacity: 0;
        transform: translateY(-100%);
    }
}