@import '../../assets/scss/helpers/_variables.scss';

.Login {
	width: 320px;
	height: 400px;
	margin-right: 10rem;
	background-color: $white;
	border: 1px solid $grey;
	box-shadow: 0 0 1.6rem 4px $grey;

	form { 
		width: 100%; 
		max-width: 320px;

		> div:first-of-type {
			width: 100%;
			display: flex;
			align-items: center;
			justify-content: space-between;
		}
	}

	button{
		&[type="submit"] { margin-top: 5.5rem; }
		&[type="button"] { 
			margin: 0; 
			width: auto;
			flex-basis: 40%;
			justify-content: flex-end;
		}
	}

	h1 { 
		color: $blueDark; 
		margin: 0;
	}
}

.Authenticate {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	max-height: calc(100% - 14rem);

	svg { 
		margin: 0;
		width: 50%;
		height: auto;
	}
}

.form {
	&Enter,
	&Appear {
	  opacity: 0;
	  transform: translateY(-10%);
	}
	&EnterActive,
	&AppearActive {
	  opacity: 1;
	  transform: translateY(0);
	  transition: all 0.35s ease-in-out;
	}
	&Exit {
	  opacity: 1;
	  transform: translateY(0);
	}
	&ExitActive {
	  opacity: 0;
	  transform: translateY(-10%);
	  transition: all 0.35s ease-in-out;
	}
}

.img {
	&Enter,
	&Appear { opacity: 0; }

	&EnterActive,
	&AppearActive {
	  opacity: 1;
	  transition: all 0.25s ease-in;
	}

	&Exit { opacity: 1; }

	&ExitActive {
	  opacity: 0;
	  transition: all 0.25s ease-in-out;
	}
}
