@import '../helpers/variables';

$axisLeftTickStrokeColor: $grey !default;
$defaultAxisStrokeColor: $greyDarker !default;

:root {
	background-color: $sLightGrey;
	width: 100%;
}

#root { 
	width: 100%;
	height: auto; 
	min-height: 100%;
}

.dashboard {
	display: grid;
	grid-template-columns: 100%;
	grid-template-rows: 70px 1fr;
	height: 100%;
}

.content {
	&__title {
		font-size: 2.4rem;
		font-weight: 700;
		color: $blueDark;
	}
	&__emptyTable {
		display: flex;
		justify-content: center;
		flex-direction: column;
		
		h2 { 
			font-size: 1.8rem; 
			color: $blueDark;
		}
	}
}

.isLike__h1,
.isLike__h2,
.isLike__h3,
.isLike__h4,
.isLike__h5,
.isLike__h6 {
	color: $blueDark;
}

table {
	width: 100%;
	color: $blueDark;
	
	td {
		vertical-align: middle;

		&:first-child {
			box-shadow: inset 1px 1px 0 0 $tableBorderColor, inset 0 -2px 0 -1px $tableBorderColor;
		}
		&:last-child {
			box-shadow: inset -1px 1px 0 0 $tableBorderColor, inset 0 -2px 0 -1px $tableBorderColor;
		}
	}
}

thead {
	tr {
		background: none;
		border: none;
		color: $blue;
		color: $blueDark;
	}

	th {
		font-weight: 700;

		&:first-child { border: none; }
		> div {
			display: flex;
			align-items: center;
			justify-content: center;
		}
	}
}

tbody {
	font-size: 1.4rem;
	font-weight: 700;
}

tr {
	margin-top: 1rem;
	margin-bottom: 1rem;
	background-color: $white;
	border-top: 8px solid $lightGrey;
	border-bottom: 8px solid $lightGrey;
}

td, th {
	padding: 1rem;
	text-align: center;
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
}

td {
	box-shadow: inset 0 2px 0 -1px #eaedf4, inset 0 -2px 0 -1px #eaedf4;
}

.chart {
	&__axis {
		&__Bottom {
			text { text-anchor: middle; }
			line { stroke: $defaultAxisStrokeColor; }
		}

		&__Left {
			& > g {			
				& > line {
					stroke: $axisLeftTickStrokeColor;
					stroke-width: 2;
				}

				&:first-of-type {
					line { stroke: $defaultAxisStrokeColor; }
				}
			}
		}
	}
}